{% extends 'base.html' %}
{% block title %}Приветствие{% endblock %}
{% block content %}
  <p class="instructions"><b>Добро пожаловать, если Вы в первый раз зашли на сайт:</b></p>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-laptop mr-5"></i>I. Чтобы приступить к тестам, зарегистрируйся.
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-bomb mr-5"></i>II. Тебя сразу перекинет на тесты.
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="fas fa-code mr-5"></i>III. Надо ответить на все вопросы. Проверь себя, нажав кнопку "Проверить" и мы покажем твою статистику.
      </li>
      <li class="list-group-item">
        <div class="md-v-line"></div><i class="far fa-gem mr-5"></i>IV. За правильные ответы, мы начисляем баллы, за которые ты можешь приобрести себе бейдж или поменять цвет страницы профиля.
      </li>
    </ul>
{% endblock %}