{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Пользователи
{% endblock %}
{% block content %}
<body style="background-color:{{ user.color }};">
  <table class="styled-table">
    <thead>
        <tr>
            <th></th>
            <th>Логин</th>
            <th>Всего очков</th>
            <th>Всего тестов</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
          <tr class="active-row">
            <td><img src="{% static '' %}{{ user.emoji }}" width="20" height="20" class="d-inline-block align-top" alt=""></td>
            <td bgcolor='{{ user.color }}'>{{ user.username }}</td>
            <td>{{ user.scores }}</td>
            <td>{{ user.passed_tests }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}